<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <form>
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <p class="DP">profile picture</p>
          <img src="/images/768px-Circle-icons-profile.svg.png" alt="768px-Circle-icons-profile" height="50">

        </div>

        <div class="col-md-6">
          <h3>Father details</h3>
          <div class="row">
            <div class="col-md-6">
              <p>Name</p>
              <input type="text" class="length" id="father_name" placeholder="Enter your father name"
                value="<%= form_data.father_name %>">
            </div>
            <div class="col-md-6">
              <p>NRIC</p>
              <input type="number" class="length" id="father_nric" placeholder="Enter your father NRIC Number"
                value="<%= form_data.father_nric %>">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>Phone number</p>
              <input type="number" class="length" id="father_phone" placeholder="phone"
                value="<%= form_data.father_phone %>">
            </div>
            <div class="col-md-6">

            </div>

          </div>

          <br>
          <h3>Mothers details</h3>
          <div class="row">
            <div class="col-md-6">
              <p>Name</p>
              <input type="text" class="length" id="mother_name" placeholder="Enter your mother name"
                value="<%= form_data.mother_name %>">
            </div>
            <div class="col-md-6">
              <p>NRIC</p>
              <input type="number" class="length" id="mother_nric" placeholder="Enter your mother NRIC Number"
                value="<%= form_data.mother_nric %>">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>Phone number</p>
              <input type="number" class="length" id="mother_phone" placeholder="phone"
                value="<%= form_data.mother_phone %>">
            </div>
            <div class="col-md-6">

            </div>

          </div>


        </div>


      </div>

      <h3>Contact details</h3>
      <div class="row">
        <div class="col-md-4">
          <p>Email</p>
          <input type="email" class="length" id="email" placeholder="enter your email" value="<%= form_data.email %>">



        </div>
        <div class="col-md-8">
          <p>Address</p>
          <input type="text" class="length" id="address" placeholder="enter your Address"
            value="<%= form_data.address %>">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p>join date</p>
          <input type="date" id="join_date" value="<%= form_data.join_date %>">
        </div>
        <div class="col-md-8">

        </div>
      </div>
      <br><br><br>
      <h3>Student1 details</h3>
      <hr />

      <div class="row">
        <div class="col-md-4">
          <p>first name</p>
          <input type="text" class="length" id="student_name" placeholder="first name"
            value="<%= form_data.student_name %>">
        </div>
        <div class="col-md-4">
          <p>last name</p>
          <input type="text" class="length" id="student_last" placeholder=" last name"
            value="<%= form_data.student_last %>">
        </div>
        <div class="col-md-4">
          <p>NRIC</p>
          <input type="number" class="length" id="student_nric" placeholder="nric"
            value="<%= form_data.student_nric %>">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <p>DOB</p>
          <input type="date" id="DOB">
        </div>
        <div class="col-md-4">
          <p>Gender</p>
          <input type="radio" value="MALE" class="gender" name="gender"> MALE
          <input type="radio" value="FEMALE" class="gender" name="gender"> FEMALE
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <p>level</p>
          <input type="radio" name="level" value="begginer" class="level"> begginer
          <input type="radio" name="level" value="intermediate" class="level"> intermediate
        </div>
        <div class="col-md-4">
          <p>Select inter level</p>
          <select id="inter_level">
            <option value="0" checked>Select</option>
            <option value="25">25 meter</option>
            <option value="30">30 meter</option>
            <option value="35">35 meter</option>
            <option value="45">45 meter</option>
            <option value="55">55 meter</option>
            <option value="65">65 meter</option>
            <option value="75">75 meter</option>
            <option value="85">85 meter</option>
          </select>

        </div>
        <div class="col-md-4">

        </div>
      </div>
      <hr />

    </div>

  </form>
  <div class="row">
    <div class="col-md-12">
      <input type="checkbox" value='yes' id="trial" name="trial"> DO YOU WANT TO TAKE A TRAIL FIRST.
      <br><br>
      <!-- <input type="submit" value="submit"> -->
      <button class="test_btn">test</button>

    </div>
  </div>

  <br><br>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><%= form_data.father_name %></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <hr>
        <div class="modal-content">
          <h3 class="modal-title1"><%= form_data.mother_name %></h3>
        </div>
        <hr>
        <div class="modal-title3">
          <h2 class="modal-title2"><%= form_data.student_name %></h2>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title3"><%= form_data.father_phone %></h5>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</body>

</html>